@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #ADEFD1FF;
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: #ffffff50;
  backdrop-filter: blur(8px);
}

.main-header .navbar-toggler span{
  width: 25px;
  height: 2px;
  background-color: #00203FFF;
  margin: 4px 0px;
transition: 0.3s;
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(2){
 opacity: 0;
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}

.container{
  max-width: 1200px;
  margin: auto;
}

.navbar-brand{
  font-size: 30px;
  font-weight: 600;
  color: #00203FFF;
}

.navbar-brand:hover{
  color: #00203FFF;
}


.nav-item{
  padding-left: 20px;
}

.nav-link{
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.nav-link:hover{
  color: #00203FFF;
}

.nav-btn a{
  text-decoration: none;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #00203FFF;
  background:#00203FFF;
  border-radius: 10px;
  color: #fff;
}

.nav-btn a:hover{
  background: transparent;
  color: #00203FFF;
  border: 1px solid #00203FFF;
}


.banner{
  background: #ADEFD1FF;
  position: relative;
  padding: 100px 0px 80px 0px;
}


.anim-elements{
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.anim-elements .anim-element{
  position: absolute;
  font-size: 30px;
}

.anim-elements .anim-element:nth-child(1){
  top: 12%;
  left: 15%;
  color: #e34c26;
  animation: aniOne 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(2){
  bottom: 20%;
  left: 45%;
  color: #2965f1;
  animation:  aniTwo 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(3){
  bottom: 20%;
  left: 30%;
  color: #61dbfb;
  animation:  aniThree 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(4){
  bottom: 15%;
 right: 25%;
  color: 	#A2AAAD;
  animation: aniFour 13s infinite linear alternate;
}

.anim-elements .anim-element:nth-child(5){
  top: 40%;
  left: 25%;
  color: #563d7c;
  animation: aniThree 13s infinite linear alternate;
}

@keyframes aniOne{
  0%{transform: translate(0,0) rotate(0);}
  40%{transform: translate(144px,72px) rotate(75deg);}
  80%{transform: translate(-42px,72px) rotate(145deg);}
  100%{transform: translate(0,0) rotate(0);}
}

@keyframes aniTwo{
  0%{transform: translate(0,0) rotate(0) scale(1);}
  20%{transform: translate(73px,1px) rotate(36deg) scale(.9);}
  60%{transform: translate(83px,122px) rotate(108deg) scale(1.2);}
  100%{transform: translate(0,0) rotate(0) scale(1);}
}

@keyframes aniThree{
  0%{transform: translate(300px,-181) rotate(0);}
  100%{transform: translate(251px,-200px) rotate(180deg);}
  
}

@keyframes aniFour{
  0%{transform: translate(61px,-99px) rotate(0);}
  20%{transform: translate(4px,-190px) rotate(38deg);}
  60%{transform: translate(-263px,-164px) rotate(108deg);}
  100%{transform: translate(0,0) rotate(180deg);}
}

.banner-text{
  z-index: 1;
}

.banner-text h5{
  font-size: 16px;
  color: #00203FFF;
}

.banner-text h1{
  font-size: 60px;
  font-weight: 600;
  padding: 10px 0;
  color: #00203FFF;
}

.banner-text p{
  font-size: 16px;
  color: #00203FFF;
}

.banner-btn{
  padding: 0px;
}

.banner-btn button{
  padding: 6px 15px;
  border: 1px solid #00203FFF;
  color: #fff;
  border-radius: 6px;
  background: #00203FFF;
}

.banner-btn button:hover{
  background: #ADEFD1FF;
  color: #00203FFF;
  border: 1px solid #00203FFF;
}

.profile-img{
  text-align: center;
 width: 100%;
 position: relative;
 overflow: hidden;
}

.profile-img img{
 border-radius: 50%;
 border: 2px solid rgb(46, 212, 137);
width: 100%;
}


