@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #ADEFD1FF;
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: #ffffff50;
  backdrop-filter: blur(8px);
}

.main-header .navbar-toggler span{
  width: 25px;
  height: 2px;
  background-color: #00203FFF;
  margin: 4px 0px;
transition: 0.3s;
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(2){
 opacity: 0;
}

.main-header .navbar-toggler:not(.collapsed) span:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}

.container{
  max-width: 1200px;
  margin: auto;
}

.navbar-brand{
  font-size: 30px;
  font-weight: 600;
  color: #00203FFF;
}

.navbar-brand:hover{
  color: #00203FFF;
}


.nav-item{
  padding-left: 20px;
}

.nav-link{
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.nav-link:hover{
  color: #00203FFF;
}

.nav-btn a{
  text-decoration: none;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #00203FFF;
  background:#00203FFF;
  border-radius: 10px;
  color: #fff;
}

.nav-btn a:hover{
  background: transparent;
  color: #00203FFF;
  border: 1px solid #00203FFF;
}

.resume{
  margin: 100px 0px;
}

.resume-details{
  background:#ffffff71;
  backdrop-filter: blur(8px);
  max-width:900px;
  margin: auto;
  padding: 70px 0px;
  border-radius: 30px;
}

.resume-img{
  width: 750px;
}

.resume-img img{
  width: 100%;
  border-radius: 30px;
}


